EXPO_PUBLIC_SUPABASE_URL=https://ydqmxjyqwvcbihrtdrnw.supabase.co/
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_oNxwAdDZ-s6DPm50cxDO6Q_QK68ZiAD
EXPO_PUBLIC_ALLOWED_EMAIL_DOMAIN=email.kmutnb.ac.th
EXPO_PUBLIC_INFERENCE_API_URL=http://localhost:8010/